@model Auction
@{
    var item = Model.Items.First();
    <p id="ıtemıd" hidden>@item.Id</p>
    <h1>Ürün:</h1>
    <h2 id="Ürün">@item.Name</h2>
    string classname = "buttondontshow";
    if (!Model.IsModerator)
    {
        classname = "";
    }
    <input id="CurrentMiktar" type="number" min="@item.AçılışFiyatı" value="@item.AçılışFiyatı" class="@classname" />
    <h3>Şu Anki Teklif:</h3>
    <h4 id="currentmiktar">@item.AçılışFiyatı</h4><p id="from"></p>
    classname = "buttondontshow";
    if (Model.IsModerator)
    {
        classname = "";
    }
    <button id="SatışıBaşlat" class="@classname">Başlangıç Fiyatından Satışı Aç</button>
    <br />
    <br />
    <button onclick="NextItem()" id="NextButton" class="buttondontshow">Next Item</button>
    <p id="countdown"></p>
}
<script type="text/javascript">
    var num = 0;
    var connectionıd ="@Html.Raw(Context.Connection.Id)";
    var model = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
    var lastıtem = model.Items[model.Items.length-1];
    function NextItem() {
        num = num + 1;
        var obj = model.Items[num];
        currentıtemıd.innerText = obj.Id;
        input.value = obj.AçılışFiyatı;
        input.min = obj.AçılışFiyatı;
        currentmiktar.innerText = obj.AçılışFiyatı;
        ürün.innerText = obj.Name;
        nextbutton.className = "buttondontshow";
        connection.invoke("NextObj", auctionid, num.toString()).catch(function (err) {
            currentmiktar.innerText = err.toString();
        });
    }
</script>
<link rel="stylesheet" href="~/css/Auction.css" />
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/auction.js"></script>